{% extends 'todoapp/base.html' %}

{% block title %}Register - Todo App{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <h1 class="title">Welcome back</h1>
        <p class="subtitle">Log to your account</p>
    </div>
    
    <form method="POST" class="auth-form">
        {% csrf_token %}
        <div class="input-group">
            <input class="auth-input" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-group">
            <input class="auth-input" type="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-group">
            <input class="auth-input" type="password" name="password1" placeholder="Password" required>
        </div>
        <div class="button-group">
            <button class="auth-btn primary" type="submit">Login</button>
        </div>
        <div class="auth-links">
            <a href="{% url 'register' %}" class="auth-link">don't have an account? create one</a>
        </div>
    </form>
{% endblock %}